*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.cart_head {
    margin-top: 6rem;
    text-align: center;
    border: solid 2 px red;
    color: rgb(191, 188, 188);
    text-decoration: underline;
    /* background-color: rgb(36, 229, 229); */
    box-shadow: 0px 0px 5px;
    border-radius: 1rem;
}
.cart_box{
    width: 90%;
    /* border: solid 2px teal; */
margin: auto;
margin-top: 2vw;
border-radius: .5vw;
box-shadow: 0px 0px 5px;
display: flex;
height: 10vw;
justify-content: space-between;
}

.cart_img{
    width: 25%;
    /* border: solid 1px black; */
    text-align: center;
}
.cart_img img{
    width: 70%;
    height: 100%;
    
}
.cart_middle{
    width: 33%;
    /* border: solid 1px black; */
    font-weight:400;
    font-size: .9rem;
    gap: 10px;
    display: flex;
    align-items: center;
}
.item_name{
    font-size: larger;

}

.cart_buttons{
    width: 33%;
    /* border: solid 1px black; */
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart_buttons button{
    width: 5rem;
    height: 2rem;
    font-size: .5rem;
    
}
.cart_count{
    background-color: white;
    border-radius: 50%;
    width: .7rem;
    height: .7rem;
    display: inline-block;
    color: teal;
    text-align: center;
    margin-left: .2rem;
    /* margin-bottom: 1rem; */
    position: absolute;
   
    /* justify-content: center; */
    /* align-items: center; */
}
.cart_icon{
    width: 1.3rem;
    height: 1.3rem;
    border-radius:.5rem;
    
}
.checkout{
    width: 90%;
    /* border: solid 3px white; */
    /* border-bottom-color: teal; */
    margin: auto;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0dvi 0px 5px;
    margin-top: 1rem;
    border-radius: .5rem;
}
.checkout_button{
    width:12rem;
    height: 1rem;
    padding: 1rem;
    background-color: rgb(25, 243, 116);
    text-align: center;
    vertical-align:middle;
    padding-bottom: 1.5rem;
    font-size: .8rem;
    border-color: rgb(0, 128, 75);


}
.shopmore_button {
    text-align: center;
    background-color: red;
    color: white;
    font-weight: 600;
    display: block;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 4rem;
    height: 2rem;
    font-size: 0.5rem;
}

/* mediaquery for mobile */

@media only screen and (min-width:250px) and (max-width: 650px){
    .cart_box {
        height: 25vw; 
     }
     .cart_img {
         width: 25%;
     }
     .cart_buttons {
         width: 25%;
        font-size: 6vw;
     }
     .cart_buttons button {
         width: 4rem;
         font-size: .7rem;
     }
     .cart_middle {
         width: 50%;
         /* font-size: .9rem; */
     }
     .item_name{
         font-size: .8rem;
         text-align: left;
         font-weight:750;
         color: grey;
     }
     .item_price{
         font-size: .9rem;
         text-align: left;
         /* font-weight: 600; */
     }
     .checkout_button {
        width: 8rem;
        height: 1rem;
        padding: 1rem;
        background-color: rgb(25, 243, 116);
        text-align: center;
        vertical-align: middle;
        padding-bottom: 1.5rem;
        font-size: 1rem;
        border-color: rgb(0, 128, 75);
    }
   }
   /* mediaquery for Tab */
   @media only screen and (min-width: 651px) and (max-width: 991px) {
   
   }