.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
}
.header h1{
    margin-bottom: 2px;
    margin-top: 5px;
    padding-top:5px;
    padding-bottom: 5px;
}
.main{
    background-color: #252525;
    box-shadow: 4px 4px 6px grey;
    margin-bottom: 8px;
    position: sticky;
    top:0px;
}
.menu{
    display: none;
}
.logo{
    height: 26px;
}

.nav{
    letter-spacing: 0;
    display: flex;
    /* height: 20px; */
    justify-content: center;
    /* box-shadow: 4px 4px 6px rgb(197, 195, 195); */
    /* margin-bottom: 16px; */
    /* margin-top: -15px; */
    /* padding: 10px 5px 5px 0px; */
}
.linktxt{
    text-decoration: none;
    /* color: black; */
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: math; */
    margin-right: 50px;
}
.rightheader{
    display: flex;
    align-items: center;
}
.Picon{
    height: 36px;
    cursor: pointer;
}
.profile{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
.back{
    display: none;
}
.cart{
    font-size: large;
    cursor: pointer;
    margin-right: 10px;
}
.cart-count{
    color: palevioletred;
    /* color: tan; */
    /* font-size: medium; */
    font-weight: 500;
}
.search{
    width:270px;
    height:30px;
    border-radius: 5px;
    margin-right: -20px;
    border: none;
    background-color:antiquewhite;
    /* background-color:blanchedalmond; */
}
.searchIcon{
    height:44px;
    position: relative;
    right: 20px;
    cursor: pointer;
}
.likes{
    font-size: 22px;
    margin-top: 7px;
    margin-right: 6px;
    margin-left: 2px;
    cursor: pointer;
    color: white;
}
.sliderImgs{
    width: 98.6vw;
    height: 280px;
    margin-top: 10px;
}
.rightarrow{
    position: fixed;
    top:300px;
    right: 15px;
    border:none;
    font-size: xx-large;
    color:white;
    background-color: transparent;
    cursor: pointer;
}
.leftarrow{
    position: fixed;
    top:305px;
    left: 14px;
    border:none;
    font-size:xx-large;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.leftarrow:disabled,
.rightarrow:disabled {
  opacity: 0.4;
}
.dropDownProfile{
    background-color: #252525;
    /* border-radius: 5px; */
    width:130px;
    position: fixed;
    right:3px;
    top:67px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    color: white;
}
.signup-icon{
    margin-right: 5px;
}
.login{
    color:green;
    font-weight: bolder;
    font-size: large;
}
.logout{
    color:sandybrown;
    /* color:rgb(242, 204, 108); */
    /* color:rgb(193, 185, 51); */
}
.H:hover{
    border-bottom: 3px solid rgb(114, 190, 191);
}
.A:hover{
    border-bottom: 3px solid teal;
}
.E:Hover{
    border-bottom: 3px solid rgb(239, 166, 205);
}
.M:hover{
    border-bottom: 3px solid brown;
}
.I:hover{
    border-bottom: 3px solid rgb(241, 152, 9);
}
.W:hover{
    border-bottom: 3px solid green;
}
.mobilesBox{
    position: fixed;
    left:400px;
    /* top:50px; */
    display: flex;
    height: 210px;
    width:320px;
    line-height: 0.7;
    justify-content: center;
    justify-content: space-between;
    padding-left:16px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
}
.mobilesBox h4{
    color:brown;
}
.AllBox{
    position: fixed;
    left:300px;
    display: flex;
    height: 210px;
    width:320px;
    line-height: 0.7;
    justify-content: center;
    justify-content: space-between;
    padding-left:16px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
}
.AllBox h4{
    color:teal;
}
.WatchBox{
    position: fixed;
    left:725px;
    display: flex;
    height: 210px;
    width:290px;
    line-height: 0.7;
    justify-content: center;
    justify-content: space-between;
    padding-left:16px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
}
.WatchBox h4{
    color: green;
}
.ElecBox{
    position: fixed;
    left:500px;
    display: flex;
    height: 190px;
    width:300px;
    line-height: 0.7;
    justify-content: center;
    justify-content: space-between;
    padding-left:16px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
}
.ElecBox h4{
    color:rgb(239, 166, 205)
}
.iphoneBox{
    position: fixed;
    left:625px;
    display: flex;
    height: 210px;
    width:320px;
    line-height: 0.7;
    justify-content: center;
    justify-content: space-between;
    padding-left:16px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
}
.iphoneBox h4{
    color:rgb(241, 152, 9)
}
.b2{
    background-color: rgb(244, 244, 244);
    padding: 0px 24px;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover {
    font-weight: bold;
}
.Mnav{
    display: none;
}
.search1{
    display: none;
}
.searchIcon2{
    display: none;
}

@media screen and (min-width:0px) and (max-width:460px) {
    .search,.searchIcon,.cart,.profile,.likes{
        display: none;
    }
    .nav{
        display: none;
    }
    .menu{
        display: block;
        height: 35px;
    }
    .menuDropDown{
        /* background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(8px);  */
        display: flex;
        flex-direction: column;
        position: fixed;
        top:-16%;
        width: 96vw;
        height: 100vh;
        padding-bottom: 100vh;
        /* width: 100%; */
        /* height: 100%; */
        background: transparent;
        text-align: center;
        z-index: 1000;
    }
    .menu2{
        display: flex;
        flex-direction: column;
    }
    .linktxt{
        padding-bottom: 16px;
        padding-top: 16px;
        margin-right: 0px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .menutxt{
        color: white;
        text-decoration: none;
        /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    }
    .main{
        /* width:99vw; */
        width: auto;
        position: inherit;
    }
    .NavBackgroundBlur {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(8px); 
        z-index: 999;
        display: none;
    }
    .NavBackgroundBlur.visible {
        display: block;
    }
    .sliderImgs{
        width: 99.7vw;
        height: 250px;
    }
    .back{
        display: block;
        font-weight: bold;
        color: white;
        font-size: larger;
        position: relative;
        left:-130px;
        top:10px;
    }
    .Mnav{
        display: flex;
        margin-top: 20px;
        /* width: fit-content; */
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 1px solid white;
    }
    .likes1{
        color:white;
        font-size: larger;
    }
    .cart1{
        font-size: large;
        color: white;
        font-family:serif;
    }
    .search1{
        display: block;
        margin-top: 15px;
        padding:10px;
        border-radius: 50px;
        border: none;
    }
    .searchIcon2{
        /* display: block; */
        display: none;
        height:50px;
        position: fixed;
        right: 12px;
        top:100px;
        cursor: pointer;
    }
    .AllBox,.WatchBox ,.mobilesBox ,.iphoneBox ,.ElecBox{
        display:none;
    }
    .dropDownProfile{
        z-index: 1000;
        right:5px;
        top: 105px;
        /* top:155px; */
    }
    .header{
        margin:0px;
        padding-right: 3vw;
        padding-left: 3vw;
    }    
}


@media screen and (min-width:500px) and (max-width:1000px) {
        .search,.searchIcon,.cart,.profile,.likes{
            display: none;
        }
        .nav{
            display: none;
        }
        .menu{
            display: block;
            height: 49px;
        }
        .menuDropDown{
            /* background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(8px);  */
            display: flex;
            flex-direction: column;
            position: fixed;
            top:-16%;
            width: 96vw;
            height: 100vh;
            padding-bottom: 100vh;
            background: transparent;
            text-align: center;
            z-index: 1000;
        }
        .menu2{
            display: flex;
            flex-direction: column;
        }
        .linktxt{
            padding-bottom: 20px;
            padding-top: 20px;
            margin-right: 0px;
            font-size: xx-large;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        .menutxt{
            color: white;
            text-decoration: none;
        }
        .main{
            width: auto;
            position: inherit;
        }
        .NavBackgroundBlur {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(8px); 
            z-index: 999;
            display: none;
        }
        .NavBackgroundBlur.visible {
            display: block;
        }
        .sliderImgs{
            width: 99.8vw;
        }
        .back{
            display: block;
            font-weight: bold;
            color: white;
            font-size: xx-large;
            position: relative;
            left:-43vw;
            top:0vh;
        }
        .Mnav{
            display: flex;
            margin-top: 20px;
            justify-content: space-evenly;
            align-items: center;
            border-bottom: 1px solid white;
        }
        .likes1{
            color:white;
            font-size: xx-large;
        }
        .cart1{
            font-size: xx-large;
            color: white;
            font-family:serif;
        }
        .search1{
            display: block;
            margin-top: 20px;
            padding:26px;
            border-radius: 50px;
            border: none;
        }
        .searchIcon2{
            /* display: block; */
            display: none;
            height:90px;
            position: fixed;
            right: 1vw;
            top:15vh;
            cursor: pointer;
        }
        .AllBox,.WatchBox ,.mobilesBox ,.iphoneBox ,.ElecBox{
            display:none;
        }
        .dropDownProfile{
            z-index: 1000;
            right:5px;
            top:99px;
            /* top:110px; */
        }
        .header{
            margin:0px;
            padding-right: 3vw;
            padding-left: 3vw;
        }   
        .main{
            padding-top: 0.7vh;
            padding-bottom: 0.6vh;
        }
        .logo{
            height: 35px;
        } 
        .Picon{
            height: 60px;
        }
        .dropDownProfile{
            top:13vh;
            width:27vw;
            font-size: xx-large;
        }
        .login{
            font-size: xx-large;
        }
}
    